[submodule "wiki"]
	path = wiki
	url = git@github.com:Garyandtang/awesome-robot-learning-wiki.git
[submodule "projects"]
	path = projects
	url = git@github.com:Garyandtang/awesome-robot-learning-projects.git
